// colors

//primary
$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;
$light:#ffffff;
$dark:#000000;

//light 1 level

$pr1-light-1:mix($primary-1, #fff, 60%);
$pr2-light-1:mix($primary-2, #fff, 60%);
$pr3-light-1:mix($primary-3, #fff, 60%);
$pr4-light-1:mix($primary-4, #fff, 60%);

//darken 1 level

$pr1-dark-1:mix($primary-1, #000, 80%);
$pr2-dark-1:mix($primary-2, #000, 80%);
$pr3-dark-1:mix($primary-3, #000, 80%);
$pr4-dark-1:mix($primary-4, #000, 80%);

//light 2 level

$pr1-light-2:mix($primary-1, #fff, 25%);
$pr2-light-2:mix($primary-2, #fff, 25%);
$pr3-light-2:mix($primary-3, #fff, 25%);
$pr4-light-2:mix($primary-4, #fff, 25%);

//darken 2 level

$pr1-dark-2:mix($primary-1, #000, 50%);
$pr2-dark-2:mix($primary-2, #000, 50%);
$pr3-dark-2:mix($primary-3, #000, 50%);
$pr4-dark-2:mix($primary-4, #000, 50%);

//light 3 level

$pr1-light-3:mix($primary-1, #fff, 10%);
$pr2-light-3:mix($primary-2, #fff, 10%);
$pr3-light-3:mix($primary-3, #fff, 10%);
$pr4-light-3:mix($primary-4, #fff, 10%);

//darken 3 level

$pr1-dark-3:mix($primary-1, #000, 30%);
$pr2-dark-3:mix($primary-2, #000, 30%);
$pr3-dark-3:mix($primary-3, #000, 30%);
$pr4-dark-3:mix($primary-4, #000, 30%);

// fonts

$font-bold:'Poppins-Bold';
$font-regular:'Poppins-Regular';
$font-medium:'Poppins-Medium';
$font-light:'Poppins-Light';
$font-semibold:'Poppins-SemiBold';

// 2 font

$font-2-bold:'OpenSans-Bold';
$font-2-bolditalic:'OpenSans-BoldItalic';
$font-2-semibolditalic:'OpenSans-SemiboldItalic';
$font-2-lightitalic:'OpenSansLight-Italic';
$font-2-light:'OpenSans-Light';
$font-2-extrabold:'OpenSans-Extrabold';
$font-2-extrabolditalic:'OpenSans-ExtraboldItalic';
$font-2-italic:'OpenSans-Italic';
$font-2-semibold:'OpenSans-Semibold';
$font-2-regular:'OpenSans';

// 3 font
$font-3-regular:'Lato-Regular';


$font-4:'MuseoSans-500';

// font logo
$font-logo-1:'Gabriola';