.bg-header {
    background-color: $primary-1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {

    &:hover{
        text-decoration: none;
    }

    img{
        max-width: 100%;
        float: left;
    }

    .name-company {
        @include font(20px, $font-regular, $light);
        position: relative;
        display: flex;

        &>div {
            @include font(39px, $font-logo-1, $light);
            line-height: 40px;
            padding-top: 10px;
            padding-left: 5px;

            &>span:nth-child(2) {
                @include font(20px,$font-medium, $primary-3);
                text-transform: uppercase;
            }

            &>span:last-child {
                @include font(13px, $font-light, $light);
            }
        }

        .name-service{
            @include font(13px,$font-2-regular, $light);
            line-height: 18px;
            position: absolute;
            bottom: -5px;
            padding-left: 5px;
            letter-spacing: .5px;
        }
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .sign-in-btn{
        text-transform: uppercase;
        width: 100px;
    }
    .order-btn{
        width: 100px;
    }

    button{
        margin:0px;
        @include font(14px,$font-semibold, $light);
        text-transform: uppercase;
    }

    .help-btn{
        display: flex;
        align-items: center;
        @include font(14px,$font-semibold, $light);
        text-transform: uppercase;
    }

    .burger {
        display: inline-block;

        &:hover,
        &:focus {
            box-shadow: none;
            outline: none;
        }

        &:hover span,
        &:focus span {
            display: inline-block;
            width: 22px;
            height: 3px;
            background-color: $primary-4;
            position: relative;
            border-radius: 15px;

            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 22px;
                height: 3px;
                background-color: $primary-4;
                position: absolute;
                border-radius: 15px;
            }
        }

        span {
            display: inline-block;
            width: 22px;
            height: 3px;
            background-color: $light;
            position: relative;
            border-radius: 15px;

            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 22px;
                height: 3px;
                background-color: $light;
                position: absolute;
                border-radius: 15px;
            }

            &::before {
                top: 7px;
                left: 0;
            }

            &::after {
                top: -7px;
                left: 0;
            }
        }

    }
}

