.bg-header {
    background-color: $primary-1;
    padding-top: 20px;
}

.logo {
    display: flex;
    flex-direction: row;

    .name-company {
        display: flex;
        flex-direction: column;
        @include font(20px, $font-3-regular, );

        &>span {
            @include font(20px, $font-logo-1, $primary-3);

            &>span:first-child {
                text-transform: uppercase;
                @include font(20px, $font-medium, $primary-3);
            }
            &>span:last-child {
                @include font(20px, $font-light, $light);
            }

        }
    }
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.burger {
    display: inline-block;

    &:hover,
    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:hover span,
    &:focus span {
        display: inline-block;
        width: 22px;
        height: 3px;
        background-color: $primary-4;
        position: relative;
        border-radius: 15px;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 22px;
            height: 3px;
            background-color: $primary-4;
            position: absolute;
            border-radius: 15px;
        }
    }

    span {
        display: inline-block;
        width: 22px;
        height: 3px;
        background-color: $dark;
        position: relative;
        border-radius: 15px;

        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 22px;
            height: 3px;
            background-color: $dark;
            position: absolute;
            border-radius: 15px;
        }

        &::before {
            top: 7px;
            left: 0;
        }

        &::after {
            top: -7px;
            left: 0;
        }
    }
}