.testimonials{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 10px;
    h6{ 
        color: $pr1-dark-1;
        font-family: $font-regular;
        padding-bottom: 25px;
    }

    h2{
        color: $pr4-dark-2;
    }

    .ava{
        margin: 0 auto;
        padding-top: 3%;
    }

    p{
        padding-top: 45px;
        padding-left: 18%;
        padding-right: 18%;
    }

    address{
        @include font(17px, $font-semibold, $pr1-dark-1);
        margin-top: 5%;
        margin-bottom: 5px;
    }

    time{
        @include font(13px, $font-light, $pr4-light-1);
    }
  
    .arrow-prev{
        position: absolute;
        top: -8%;

        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-left: solid 2px $primary-1;
            border-top: solid 2px $primary-1;
            background-color: transparent;
            transform:  rotate(-45deg);
            z-index: 15;
        }
    }
    .arrow-next{
        position: absolute;
        top: -8%;
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-right: solid 2px $primary-1;
            border-top: solid 2px $primary-1;
            background-color: transparent;
            transform:  rotate(45deg);
            z-index: 15;
        }
    }
}

@media (max-width:768px){
    .testimonials{
        h6{ 
            padding-bottom: 15px;
        }
    
        h2{
            font-size: 25px;
        }
        p{
            padding-top: 25px;
        }

    }
}

@media (max-width:574px){
    .testimonials{
        margin-bottom: 30px;
        
        p{
            padding-top: 15px;
            padding-left: 10%;
            padding-right: 10%;
            font-size: 13px;
        }
      
        .arrow-prev{
            top: 0%;
    
            &::after{
                width: 25px;
                height: 25px;
                border-left: solid 2px $primary-1;
                border-top: solid 2px $primary-1;
                background-color: transparent;
                transform:  rotate(-45deg);
                z-index: 15;
            }
        }
        .arrow-next{
            position: absolute;
            top: 0%;
            &::after{
                width: 25px;
                height: 25px;
            }
        }
    }
}

