.bg-banner{
    background-color: $pr1-light-3;
    background-image: url(../img/bg-banner.png);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: bottom;
    ol{
        justify-content: left;
        margin-left: 0px;
        top: 210px;
        z-index: 1;
        width: 100%;
        height: 20px;
        margin-left: -15px;

        li{
            width: 50px;
            height: 2px;
            margin-right: 0px;
            margin-left: 0px;
            background-color: $pr4-light-1;
            border-top: 0;
            border-top:10px solid transparent;
            border-bottom: 10px solid transparent;
        }
        .active{
            background-color: $primary-2;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                height: 3px;
                background-color: $primary-2;
                top: -2px;

            }
        }
    }
    
}

.slide-bg{
    position: relative;
    padding-top: 95px;
    padding-bottom: 13%;

    .title-slide{
        @include font(42px,$font-bold, $pr4-dark-2);
        letter-spacing: 1px;
        padding-left: 0px;
        padding-bottom: 60px;
        span{
            @include font(42px,$font-bold, $primary-1);
        }
    }
    p{
        padding-left: 0px;
        @include font(20px,$font-regular, $primary-4);
        padding-bottom: 60px;
        z-index: 3;
    }
    img{
        position: absolute;
        left: 67%;
        top:5%;
        width: 315px;
        z-index: 3;
    }
    button{

        z-index: 4;
    }
}

@media (max-width: 1200px){
    .bg-banner{
        ol{
            top: 265px;
        }
    }
    .slide-bg {
        p{
            padding-bottom: 20px;
        }
        img{
            position: absolute;
            left: 65%;
            top:11%;
        }
    }
}


@media (max-width: 991px){
    .bg-banner{
        background-size: 160%;
    }
    .slide-bg {
        padding-top: 40px;
        .title-slide{
            font-size: 33px;
            padding-bottom:40px;
            span{
            font-size: 33px;
            }
        }
        p{
            padding-bottom: 20px;
            font-size: 16px;
        }
        img{
            position: absolute;
            top:27%;
            width: 250px;
        }
        button{
            margin-bottom: 20px;
        } 
    }
}

@media (max-width: 767px){
    .slide-bg {
        margin-right:0px;
        margin-left:0px;
        padding-top: 30px;
        .title-slide{
            font-size: 24px;
            padding-bottom:30px;
            span{
            font-size: 24px;
            }
        }
        p{
            font-size: 15px;
        }
        img{
            top:33%;
            left: 70%;
            width: 175px;
        }
        button{
            margin-bottom: 30px;
        } 
    }
}

@media (max-width: 574px){
    .slide-bg{
        padding-top: 20px;
        .title-slide{
            padding-bottom:20px;
        }
        p{
            padding-bottom: 10px;
        }
        .slide-1{
            div{
            text-align: center;
            }
        } 
    }

}

@media (max-width: 340px){
    .slide-bg{
        .title-slide{
           font-size: 20px;
           span{
            font-size: 20px; 
           }
        }
    }
}