.sale-block{
    margin-top:50px;
    img{
        width: 100%;
    }
}

.advantages-block-aside{
    ul{
        list-style-type: none;
        padding-top: 25px;
        padding-bottom: 25px;
        li{
            @include font(14px, $font-regular,$pr4-dark-1);
            line-height: 40px;
            position: relative;
            padding-left: 0px;
            position: relative;
            padding-left: 20px;
            position: relative;
            svg{
                transform: rotate(-45deg);
                position: absolute;
                fill: $primary-1;
                top: 14px;
                left: 0;
            }
        }
    }
    button{
        width: 100%;
    }
}

.features-aside{
    ul{
        list-style-type: none;
        padding-top: 25px;
        padding-bottom: 25px;
        li{
            @include font(14px, $font-regular,$pr4-dark-1);
            line-height: 40px;
            position: relative;
            position: relative;
            padding-left: 25px;
            position: relative;
            svg{
                position: absolute;
                fill: $light;
                top: 35%;
                left: 2px;
            }
            &::before{
                content: '';
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $primary-1;
                position: absolute;
                top: 32%;
                left: 0;
                display: inline-block;
            }
        }
    }
    button{
        width: 100%;
    }
}

.discounts-block{
    button{
        width: 100%;
        margin-bottom:100px;
    }
    &>div{
        padding-top: 30px;
        padding-bottom: 25px;
    }
    .discount{
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        transform: scale(1);
        transition: 0.3s;

        &:hover{
            text-decoration: none;
            transform: scale(1.05);
            transition: 0.3s;
        }

        &:last-child .description{
            border: none;
        }

        .percent,
        .order-discount{
            position: relative;
            width: 50%;
            height: 75px;
            span{
                display: block;
                text-align: center;
                @include font(22px, $font-bold,$primary-3);
                line-height: 22px; 
                text-transform: uppercase;
                width: 100%;

                &:nth-child(2n){
                    padding-top: 15px;
                }
            }
            img{
                position: absolute;
                z-index: -1;
                max-width: 100%;
            }
        }
        .order-discount{
            span{
              color: $light;
            }
        }
        .description{
            position: relative;
            border-bottom: 1px solid $pr4-light-3;
            display: block;
            margin-left: 15px;
            padding-top: 10px;
            padding-bottom: 20px;
            width: 100%;
            span{
                display: block;
                @include font(14px, $font-medium,$pr4-dark-1);
                line-height: 25px;

                &:nth-child(2n){
                    @include font(22px, $font-semibold,$pr4-dark-3);
                    line-height: 25px; 
                    text-transform: uppercase;
                }
            }
        }   
    }
}



@media (max-width:991px){
    .sale-block{
    margin-top: 0px;
    }
    .discounts-block .discount .percent, 
    .discounts-block .discount .order-discount{
        width: 41%;
    }
}

@media (max-width: 767px){
    .discounts-block .discount .percent, 
    .discounts-block .discount .order-discount{
        width: 18%;
    }
}

@media (max-width: 540px){
    .discounts-block .discount .percent, 
    .discounts-block .discount .order-discount{
        width: 21%;
    }
}

@media (max-width: 540px){
    .discounts-block .discount .percent, 
    .discounts-block .discount .order-discount{
        width: 21%;
    }
}

@media (max-width: 465px){
    .discounts-block{
        display: none;
    }
}